Package: openfieldreader
Version: 1.0.0
Section: base
Priority: optional
Architecture: all
Depends: bash, libunwind8
Maintainer: Philip Doxakis
Description: Automatically detect paper-based form fields.
Homepage: https://github.com/OpenFieldReader/OpenFieldReader
